.hide {
    display: none;
}
.show{
    display: inline-block;
}
/*body{
    top: 0;
    background-image: url("../image/hero.jpeg");
    background-size: cover;
    background-position: center;
    background-position: 50%;
}*/